nav.navbar.navbar-inverse.navbar-fixed-top
    div.container
        div.navbar-header
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")

            a(class="navbar-brand" href="#")

        div(id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;")
            ul.nav.navbar-nav
                li.active
                    a(href="#") 축구장 예약
                li
                    a(href="#about") 축구팀 찾기
                li
                    a(href="#contact") Contact