.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.container {
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}
#map {
    height:100%;
}
.btn-group, .btn-group-vertical {
    position: absolute;
    z-index: 1000;
    top: 70px;
    left: 10px;
}

.btn-depth1 {
    width:133px;
}

.btn-emd {
    position: absolute;
    z-index: 1000;
    top: 70px;
    left: 150px;
}